# URL của backend API sau khi đã deploy (không có dấu gạch chéo / ở cuối)
# Ví dụ: https://my-backend-api.herokuapp.com hoặc https://api.mydomain.com
VITE_API_URL=https://backend-production-b800.up.railway.app
